.editdr{
    margin-left: 10rem;
    margin-right: 10rem;

}
.addr{
    padding: 10rem 15rem 19.5rem 15rem;
}
.headerdr{
    margin-left:14rem;
}
.btndr{
    margin-left: -18rem;
    font-size: 3rem;
    margin-top: -4rem;
}